.wholebody{
  background-color: white;
}

.header{
  background-image:url("../media/img/boston.jpg");
  background-repeat:no-repeat;
  background-position:center;
  width: 100%
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
}

h1{
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  color: rgba(37, 39, 40);
}

#date{
  font-family: monospace;
  text-align: center;
  color: rgba(37, 39, 40);
  font-style: italic;
  font-weight: bold;
}

nav{
  display: inline-block;
  width:100%;
  height:30px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: rgba(37, 39, 40, 0.7);
}

ul{
  list-style-type: none;
  position: center;
  width: 100%;
}

li{
  padding-left: 10%;
}

.navli{
  float:left;
}

li a {
    display: inline;
    color: white;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
}

.left{
  width: 25%;
  height:auto;
  float: left;
  border: 1%;
  padding: 1%;
  font-size: 1.2em;
  font-family: monospace;
  text-align: left;
  background-color: rgba(66, 244, 244, 0.5);
}

.left textarea{
  display:inline;
  float:left;
}

.right{
  width: 68%;
  float: right;
  border: 1%;
  padding:1%;
  font-size: 1.2em;
  font-family: monospace;
  background-color: rgba(66, 244, 244, 0.5);
}
.blog{
  width: 90%;
  margin-bottom: 5px;
}

#skills{
  list-style-type: none;
  float: left;
}

#tools{
  list-style-type: none;
  float: left;
}

.skills{
  width: 90%
  float:left;
}

.tools{
  width: 90%
  float: left;
}

.form{
  float: left;
  display: inline;
}

textarea {
  width:100%;
  border:1px solid blue
}

.intro{
  width: 90%
}
